@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho')

body {
	font-family: 'Sawarabi Mincho', sans-serif;
	background-image: url('/dark-fog-forest-6992.jpg');
	background-size: 100vw;
}
